
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a href="#" class="brand">
    <i class='bx bxs-pie-chart-alt-2'></i>
    <span class="text">Danalysis App</span>
  </a>
  <ul class="side-menu top">
    <li routerLinkActive="active">
      <a routerLink="home">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="workers">
        <i class='bx bxs-shopping-bag-alt' ></i>
        <span class="text">Workers</span>
      </a>
    </li>
   
    <li routerLinkActive="active">
      <a routerLink="questions">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Questions</span>
      </a>
    </li>

  </ul>

</section>

<section id="content">
 
  <nav>
    <i (click)="addToggle()" class='bx bx-menu' ></i> 
    <a  *ngIf="!isLoggedIn" routerLink="/login" class="profile login">
      Login
      <i class='bx bxs-user-circle' ></i>
    </a>
    <a *ngIf="isLoggedIn" (click)="logout()" class="profile logout">
      Logout
      <i class='bx bxs-user-circle' ></i>
    </a>
  </nav> 
 
  <main>
    <router-outlet></router-outlet>
  </main>
 
</section>

