<div class="head-title">
    <div class="left">
      <h1>Workers</h1>
      <ul class="breadcrumb">
        <li>
          <a href="http://localhost:4200/home">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="http://localhost:4200/workers">Workers</a>
        </li>
      </ul>
    </div>
  </div>
<div class="table-data">
    <div class="todo">
      <div class="head">
        <h3></h3>
        <!-- <i class='bx bx-search' ></i> -->
        <i class='bx bx-filter' ></i>
      </div>
      <canvas id="agePieChart"></canvas>
    </div>
    <div class="todo">
      <div class="head">
        <h3></h3>
        <!-- <i class='bx bx-plus' ></i> -->
        <i class='bx bx-filter' ></i>
      </div>
      <canvas id="organisationPieChart"></canvas>
    </div>

<div class="table-data">
    <div class="order">
      <div class="head">
        <h3></h3>
        <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      
        <canvas id="routeBarChart"></canvas>
      
    </div>


